
.content .box {
  overflow: hidden;
  .name {
    i {
      position: absolute;
      right: 5px;
      margin-top: 3px;
      font-size: 14px;
    }
  }

  .description {
    height: 100%;
    padding: 50px 10px 0px;
    position: relative;
    color: #000;
    top: -100%;
    border-radius: 3px;

    p {
      margin: 10px 0;
      line-height: 1.5;
    }
  }
}

.content .has-details:hover {
  cursor: pointer;
}
