
/* box */
.box {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 2px 7px -2px #999;
  border: 1px solid lighten(#999, 20%);
  transition: all 0.3 ease-out;

  .list {
    padding: 20px 10px;
  }
}

