content-item(img, color) {
  image: '/ui/images/screenshots/'+img+'.jpg'
}

.content {
  .description {
    background: rgba(color-blue, 0.95);
  }
  .kindspark {
    content-item('kindspark', color-green);
  }
  .jotbox {
    content-item('jotbox', color-red);
  }
  .visits {
    content-item('visits', color-blue);
  }
  .n2tec {
    content-item('n2tec', color-blue);
  }
  .ehow {
    content-item('ehow', color-green);
  }
  .ventureedge {
    content-item('ventureedge', color-green);
  }
  .mytimes {
    content-item('mytimes', color-gray);
  }
  .portfolio {
    content-item('portfolio', color-dark-blue);
  }
  .layouts {
    content-item('layouts', color-purple);
  }
  .toc {
    content-item('toc', color-blue);
  }
  .hubinfo {
    content-item('hubinfo', color-yellow);
  }
  .routie {
    content-item('routie', color-red);
  }
  .resistance {
    content-item('resistance', color-yellow);
  }
  .travolta {
    content-item('travolta', color-blue);
  }

  .box {
    background-size: 230px 220px;
  }
}

