.header {
  .box {
    padding: 10px;
    height: 85px;
  }
  .me {
    //transform: rotate(-15deg);
    position: relative;
    z-index: 10;
    img {
      float: left;
      margin-right: 30px;
    }

    h1 {
      margin: 5px 0;
    }
    h2 {
    }
  }
}
