.updates {
  background: rgba(255,255,255,0.5);
  box-shadow: none;
  border: 1px solid lighten(#999, 40%);

  .title {
    font-size: 16px;
    margin-bottom: 6px;
    a {
      color: color-copy;
    }
  }
  .date {
    float: right;
    margin: 4px 0 0 0;
    font-size: 11px;
    color: #747474;
  }

  .name {
    padding-right: 5px;
    &::after {
      content: ':'
    }
  }
  .desc {
    font-size: 12px;
    line-height: 1.5;
  }
}
