

/* nav */

@keyframes nav-on {
  from {
		border-bottom-width: 1px;
		background: transparent;
  }
  to {
		background: sites-color;
  }
}
@keyframes nav-off {
  from {
		background: sites-color;
  }
  to {
		background: transparent;
  }
}
