.content {
  .kindspark {
    image: '/ui/images/screenshots/kindspark.jpg'
  }
  .jotbox {
    image: '/ui/images/screenshots/jotbox.jpg'
  }
  .visits {
    image: '/ui/images/screenshots/visits.jpg'
  }
  .n2tec {
    image: '/ui/images/screenshots/n2tec.jpg'
  }
  .ehow {
    image: '/ui/images/screenshots/ehow.jpg'
  }
  .ventureedge {
    image: '/ui/images/screenshots/ventureedge.jpg'
  }
  .mytimes {
    image: '/ui/images/screenshots/mytimes.jpg'
  }
  .portfolio {
    image: '/ui/images/screenshots/portfolio.jpg'
  }
  .layouts {
    image: '/ui/images/screenshots/layouts.jpg'
  }
  .toc {
    image: '/ui/images/screenshots/toc.jpg'
  }
  .hubinfo {
    image: '/ui/images/screenshots/hubinfo.jpg'
  }
  .routie {
    image: '/ui/images/screenshots/routie.jpg'
  }
  .resistance {
    image: '/ui/images/screenshots/resistance.jpg'
  }
  .travolta {
    image: '/ui/images/screenshots/travolta.jpg'
  }
  .box {
    background-size: 230px 220px;
  }
}
