@import '../../node_modules/nib'
@import 'vars'

global-reset()

.clearfix {
  clearfix()
}

* { 
  box-sizing: border-box; 
} 

body {
  background: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  color: primary-color;
}

a { 
  color: color-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  color: secondary-color;
}

body > .frame {
  background: url(../images/tiny_grid.png);
  box-shadow: 0 0 20px 5px #000;
  padding: 20px 0 0 0;
  overflow: hidden;
}

@import 'layout'
@import 'modules/index'
@import 'animations'
