@import 'nib'
@import 'vars'

global-reset()

.clearfix {
	clearfix()
}

* { 
	box-sizing: border-box; 
} 

body {
	background: #333;
}

body > .frame {
	background: url(../images/tiny_grid.png);
	box-shadow: 0 0 20px 5px #000;
}

//font-family's, sizes, colors
@import 'type'

//global layout, grid, frame
@import 'layout'

@import 'styles'

//resuable modules
@import 'modules'

//non-reusable modules
@import 'unique'

@import 'animations'
