frame-width = 1000px

body > .frame {
	padding: 20px 0 0 0;
	overflow: hidden;
}
.frame {
	width: frame-width;
	margin: 0 auto;
}
.col3 {
	clearfix()
	.col {
		width: (frame-width/3 - 20)px;
		margin: 0 10px;
		float: left;
	}
}

.col4 {
	clearfix()
	.col {
		width: (frame-width/4 - 20)px;
		margin: 0 10px;
		float: left;
	}
	.col2 {
		width: (frame-width/2 - 20)px;
		margin: 0 10px;
		float: left;
	}
}
