width = 1000px

body > .frame {
	padding: 20px 0;
}
.frame {
	width: width;
	margin: 0 auto;
}
.col3 {
	clearfix()
	.col {
		width: (width/3 - 20)px;
		margin: 0 10px;
		float: left;
	}
}

.col4 {
	clearfix()
	.col {
		width: (width/4 - 20)px;
		margin: 0 10px;
		float: left;
	}
}
