
a { 
  color: color-link;
}
.nav a span {
  background-color: color-link;
}

.content .box {
  overflow: hidden;
  .name {
  }

  .description {
    height: 100%;
    padding: 50px 10px 0px;
    position: relative;
    color: #000;
    top: -100%;
    border-radius: 3px;

    p {
      margin: 10px 0;
      line-height: 1.5;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.content {
  alpha = 0.95
  .kindspark .description {
    background: rgba(color-green, alpha);
  }
  .jotbox .description {
    background: rgba(color-red, alpha);
  }
  .visits .description {
    background: rgba(color-blue, alpha);
  }
  .n2tec .description{
    background: rgba(color-blue, alpha);
  }
  .ehow .description {
    background: rgba(color-green, alpha);
  }
  .ventureedge .description {
    background: rgba(color-green, alpha);
  }
  .mytimes .description {
    background: rgba(color-gray, alpha);
  }
  .portfolio .description {
    background: rgba(color-dark-blue, alpha);
  }
  .layouts .description {
    background: rgba(color-purple, alpha);
  }
  .toc .description {
    background: rgba(color-blue, alpha);
  }
  .hubinfo .description {
    background: rgba(color-yellow, alpha);
  }
  .routie .description{
    background: rgba(color-red, alpha);
  }
  .resistance .description {
    background: rgba(color-yellow, alpha);
  }
  .travolta .description {
    background: rgba(color-blue, alpha);
  }
}
