

.nav .all a span {
	background-color: all-color;
}

.nav .sites a span {
	background-color: sites-color;
}

.nav .code a span {
	background-color: code-color;
}

.nav .apps a span {
	background-color: apps-color;
}

.content .box.site p {
	border-bottom: 3px solid sites-color;
}

.content .box.site:hover {
	border: 1px solid sites-color;
	cursor: pointer;
}
