primary-color = #333
secondary-color = #747474

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 14px;
	color: primary-color;
}

a {
	text-decoration: none;
}
.nav a {
	color: primary-color;
	font-size: 16px;
}

h1 {
	font-size: 32px;
}

h2 {
	color: secondary-color;
}
