frame-width = 1000px

//colors
color-blue = #93cfec
color-green = #cdf397
color-dark-blue = #3ca9dc
color-red = #ffa79f
color-yellow = #fff09f
color-purple = #ab93ec
color-gray = #e2e2e0

color-link = darken(color-dark-blue, 10)

color-copy = #333
color-copy-alt = #747474
