<!DOCTYPE HTML>
<html>
  <head>
    <title>Greg Allen | <%= tagline %></title>
    <script src="ui/vendor/live/live.js"></script>
    <link rel="stylesheet" href="ui/_dist/common.css"/>
  </head>
  <body class="preanim">
    <div class="frame">
      <div class="header col3">
        <div class="box col me">
          <img src="ui/images/me.jpg" alt="Greg Allen" width="75"/>
          <h1>Greg Allen</h1>
          <h2><%= tagline %></h2>
        </div>
        <div class="box col updates" data-username="<%= twitter %>">
          <a class="date"></a>
          <h3 class="title">
            <a>Twitter</a>
          </h3>
          <p class="desc">
            <a class="name"></a>
            <span/>
          </p>
        </div>
        <div class="box col updates" data-username="<%= github %>">
          <a class="date"></a>
          <h3 class="title">
            <a>Github</a>
          </h3>
          <p class="desc">
            <a class="name"></a>
            <span/>
          </p>
        </div>
      </div>
      <ul class="nav hl">
        <% nav.forEach(function(item) { %>
          <li class="<%= item.class %>">
            <a href="<%= item.url %>">
              <i class="<%= icons[item.class] %>"></i>
              <%= item.name %>
              <span class="line"/>
            </a>
          </li>
        <% }) %>
      </ul>
      <div class="content col4">
        <% items.forEach(function(item) { %>
          <a href="<%= item.url %>" class="box col has-details <%= item.type %> <%= item.id %>">
            <div class="description">
              <% if (item.description) { %>
                <% item.description.forEach(function(p) { %>
                  <p><%= p %></p>
                <% }) %>
              <% } %>
            </div>
            <h3 class="name">
              <i class="<%= icons[item.type] %>"></i>
              <%= item.name %>
            </h3>
          </a>
        <% }) %>
				<div class="box col contact">
					<ul class="hl services">
            <% services.forEach(function(service) { %>
            <li>
              <i class="<%= icons[service.icon] %>"></i>
              <%= service.name %>
            </li>
            <% }) %>
					</ul>
					<h3 class="name">
            <i class="<%= icons['contact'] %>"></i>
            Services
          </h3>
				</div>
				<div class="box col contact">
					<ul class="hl contacts">
            <% contacts.forEach(function(contact) { %>
              <li>
                <a href="<%= contact.url %>">
                  <i class="<%= icons[contact.icon] %>"></i>
                  <%= contact.name %>
                </a>
              </li>
            <% }) %>
					</ul>
					<h3 class="name">
            <i class="<%= icons['contact'] %>"></i>
            Contact
          </h3>
				</div>
      </div>
    </div>
    <script src="ui/vendor/jquery/jquery-1.7.2.min.js"></script>
    <script src="ui/_dist/common.js"></script>
  </body>
</html>
