@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cloud-1:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-globe:before { content: '𝌍'; } /* '\1d30d' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */