html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #333;
}
body > .frame {
  background: url("../images/tiny_grid.png");
  -webkit-box-shadow: 0 0 20px 5px #000;
  box-shadow: 0 0 20px 5px #000;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #333;
}
a {
  text-decoration: none;
}
.nav a {
  color: #333;
  font-size: 16px;
}
h1 {
  font-size: 32px;
}
h2 {
  color: #747474;
}
body > .frame {
  padding: 20px 0;
  overflow: hidden;
}
.frame {
  width: 1000px;
  margin: 0 auto;
}
.col3 {
  zoom: 1;
}
.col3:before,
.col3:after {
  content: "";
  display: table;
}
.col3:after {
  clear: both;
}
.col3 .col {
  width: 313.3333333333333px;
  margin: 0 10px;
  float: left;
}
.col4 {
  zoom: 1;
}
.col4:before,
.col4:after {
  content: "";
  display: table;
}
.col4:after {
  clear: both;
}
.col4 .col {
  width: 230px;
  margin: 0 10px;
  float: left;
}
.nav .all a span {
  background-color: #93cfec;
}
.nav .sites a span {
  background-color: #cdf397;
}
.nav .code a span {
  background-color: #ffdc9f;
}
.nav .apps a span {
  background-color: #ffa79f;
}
.content .box.site p {
  border-bottom: 3px solid #cdf397;
}
.content .box.site:hover {
  border: 1px solid #cdf397;
  cursor: pointer;
}
ul.hl {
  zoom: 1;
  list-style: none;
}
ul.hl:before,
ul.hl:after {
  content: "";
  display: table;
}
ul.hl:after {
  clear: both;
}
ul.hl li {
  float: left;
}
.box {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(151,151,151,0.5);
  box-shadow: 0px 0px 10px rgba(151,151,151,0.5);
}
.content .box {
  position: relative;
  height: 220px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-bottom: 20px;
}
.content .box p {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.header .box {
  padding: 10px;
  height: 85px;
}
.me {
  position: relative;
  z-index: 10;
}
.me img {
  float: left;
  margin-right: 30px;
}
.me h1 {
  margin: 5px 0;
}
.nav {
  z-index: 1;
  margin: 15px 0;
  padding-left: 250px;
  height: 40px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, #fff 0%, #f0f0f0 100%);
  border: 1px solid #e2e0e0;
}
.nav li a {
  padding: 11px 30px 10px;
  background: transparent;
  border: 1px solid #f0f0f0;
  border-width: 0 0 0 1px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
}
.nav li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  display: block;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  -ms-transition: width 0.7s;
  transition: width 0.7s;
}
.nav li.selected a,
.nav li a:hover {
  background: #fff;
}
.nav li.selected a span,
.nav li a:hover span {
  width: 100%;
}
.nav li.selected a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #fff 100%);
}
.content .box {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.content .anim-out {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.preanim .header .me {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.preanim .header .twitter,
.preanim .header .github {
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -o-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
}
.preanim .content .box {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.preanim .nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.load .header .me {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.3s ease 0.5s;
  -moz-transition: -webkit-transform 0.3s ease 0.5s;
  -o-transition: -webkit-transform 0.3s ease 0.5s;
  -ms-transition: -webkit-transform 0.3s ease 0.5s;
  transition: -webkit-transform 0.3s ease 0.5s;
}
.load .header .twitter {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.1s;
  -moz-transition: -webkit-transform 0.5s ease 0.1s;
  -o-transition: -webkit-transform 0.5s ease 0.1s;
  -ms-transition: -webkit-transform 0.5s ease 0.1s;
  transition: -webkit-transform 0.5s ease 0.1s;
}
.load .header .github {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.3s;
  -moz-transition: -webkit-transform 0.5s ease 0.3s;
  -o-transition: -webkit-transform 0.5s ease 0.3s;
  -ms-transition: -webkit-transform 0.5s ease 0.3s;
  transition: -webkit-transform 0.5s ease 0.3s;
}
.load .nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease 0.4s;
  -moz-transition: -webkit-transform 0.4s ease 0.4s;
  -o-transition: -webkit-transform 0.4s ease 0.4s;
  -ms-transition: -webkit-transform 0.4s ease 0.4s;
  transition: -webkit-transform 0.4s ease 0.4s;
}
.load .content .box {
  -webkit-animation: bounce 0.5s ease 0.5s;
  -moz-animation: bounce 0.5s ease 0.5s;
  -o-animation: bounce 0.5s ease 0.5s;
  -ms-animation: bounce 0.5s ease 0.5s;
  animation: bounce 0.5s ease 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes nav-on {
  0% {
    border-bottom-width: 1px;
    background: transparent;
  }

  100% {
    background: #cdf397;
  }
}
@-webkit-keyframes nav-on {
  0% {
    border-bottom-width: 1px;
    background: transparent;
  }

  100% {
    background: #cdf397;
  }
}
@-o-keyframes nav-on {
  0% {
    border-bottom-width: 1px;
    background: transparent;
  }

  100% {
    background: #cdf397;
  }
}
@-ms-keyframes nav-on {
  0% {
    border-bottom-width: 1px;
    background: transparent;
  }

  100% {
    background: #cdf397;
  }
}
@keyframes nav-on {
  0% {
    border-bottom-width: 1px;
    background: transparent;
  }

  100% {
    background: #cdf397;
  }
}
@-moz-keyframes nav-off {
  0% {
    background: #cdf397;
  }

  100% {
    background: transparent;
  }
}
@-webkit-keyframes nav-off {
  0% {
    background: #cdf397;
  }

  100% {
    background: transparent;
  }
}
@-o-keyframes nav-off {
  0% {
    background: #cdf397;
  }

  100% {
    background: transparent;
  }
}
@-ms-keyframes nav-off {
  0% {
    background: #cdf397;
  }

  100% {
    background: transparent;
  }
}
@keyframes nav-off {
  0% {
    background: #cdf397;
  }

  100% {
    background: transparent;
  }
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
