html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #333;
}
body > .frame {
  background: url("../images/tiny_grid.png");
  -webkit-box-shadow: 0 0 20px 5px #000;
  box-shadow: 0 0 20px 5px #000;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #333;
}
a {
  text-decoration: none;
}
.nav a {
  color: #333;
  font-size: 16px;
}
h1 {
  font-size: 32px;
}
h2 {
  color: #747474;
}
body > .frame {
  padding: 20px 0;
  overflow: hidden;
}
.frame {
  width: 1000px;
  margin: 0 auto;
}
.col3 {
  zoom: 1;
}
.col3:before,
.col3:after {
  content: "";
  display: table;
}
.col3:after {
  clear: both;
}
.col3 .col {
  width: 313.3333333333333px;
  margin: 0 10px;
  float: left;
}
.col4 {
  zoom: 1;
}
.col4:before,
.col4:after {
  content: "";
  display: table;
}
.col4:after {
  clear: both;
}
.col4 .col {
  width: 230px;
  margin: 0 10px;
  float: left;
}
.nav .all a span {
  background-color: #e2e2e0;
}
.nav .site a span {
  background-color: #cdf397;
}
.nav .code a span {
  background-color: #93cfec;
}
.nav .app a span {
  background-color: #ffa79f;
}
.content .box {
  overflow: hidden;
  border-bottom: 5px solid #ccc;
}
.content .box .description {
  height: 100%;
  padding: 50px 10px 0px;
  position: relative;
  color: #000;
  top: -100%;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.content .box .description p {
  margin: 10px 0;
  line-height: 1.5;
}
.content .box:hover {
  cursor: pointer;
}
.content .site {
  border-color: #cdf397;
}
.content .site .description {
  background: rgba(205,243,151,0.95);
}
.content .code {
  border-color: #93cfec;
}
.content .code .description {
  background: rgba(147,207,236,0.95);
}
.content .app {
  border-color: #ffa79f;
}
.content .app .description {
  background: rgba(255,167,159,0.95);
}
ul.hl {
  zoom: 1;
  list-style: none;
}
ul.hl:before,
ul.hl:after {
  content: "";
  display: table;
}
ul.hl:after {
  clear: both;
}
ul.hl li {
  float: left;
}
.box {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(151,151,151,0.5);
  box-shadow: 0px 0px 10px rgba(151,151,151,0.5);
}
.content .box {
  position: relative;
  height: 220px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-bottom: 20px;
}
.content .box .name {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
}
.header .box {
  padding: 10px;
  height: 85px;
}
.me {
  position: relative;
  z-index: 10;
}
.me img {
  float: left;
  margin-right: 30px;
}
.me h1 {
  margin: 5px 0;
}
.nav {
  z-index: 1;
  margin: 15px 0;
  padding-left: 250px;
  height: 40px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, #fff 0%, #f0f0f0 100%);
  border: 1px solid #e2e0e0;
}
.nav li a {
  padding: 11px 30px 10px;
  background: transparent;
  border: 1px solid #f0f0f0;
  border-width: 0 0 0 1px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
}
.nav li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 1px;
  display: block;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  -ms-transition: width 0.7s;
  transition: width 0.7s;
}
.nav li.selected a,
.nav li a:hover {
  background: #fff;
}
.nav li.selected a span,
.nav li a:hover span {
  width: 100%;
}
.nav li.selected a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #fff 100%);
}
.content .box {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.content .anim-out {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.preanim .header .twitter,
.preanim .header .github {
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -o-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
}
.preanim .content .box {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.preanim .nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.load .header .twitter {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.1s;
  -moz-transition: -webkit-transform 0.5s ease 0.1s;
  -o-transition: -webkit-transform 0.5s ease 0.1s;
  -ms-transition: -webkit-transform 0.5s ease 0.1s;
  transition: -webkit-transform 0.5s ease 0.1s;
}
.load .header .github {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.3s;
  -moz-transition: -webkit-transform 0.5s ease 0.3s;
  -o-transition: -webkit-transform 0.5s ease 0.3s;
  -ms-transition: -webkit-transform 0.5s ease 0.3s;
  transition: -webkit-transform 0.5s ease 0.3s;
}
.load .nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease 0.4s;
  -moz-transition: -webkit-transform 0.4s ease 0.4s;
  -o-transition: -webkit-transform 0.4s ease 0.4s;
  -ms-transition: -webkit-transform 0.4s ease 0.4s;
  transition: -webkit-transform 0.4s ease 0.4s;
}
.load .content .box {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.5s ease 0.5s;
  -moz-transition: opacity 0.5s ease 0.5s;
  -o-transition: opacity 0.5s ease 0.5s;
  -ms-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.content .kindspark {
  background-image: url("/ui/images/screenshots/kindspark.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .kindspark {
    background-image: url("/ui/images/screenshots/kindspark@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .jotbox {
  background-image: url("/ui/images/screenshots/jotbox.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .jotbox {
    background-image: url("/ui/images/screenshots/jotbox@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .visits {
  background-image: url("/ui/images/screenshots/visits.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .visits {
    background-image: url("/ui/images/screenshots/visits@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .n2tec {
  background-image: url("/ui/images/screenshots/n2tec.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .n2tec {
    background-image: url("/ui/images/screenshots/n2tec@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .ehow {
  background-image: url("/ui/images/screenshots/ehow.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .ehow {
    background-image: url("/ui/images/screenshots/ehow@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .ventureedge {
  background-image: url("/ui/images/screenshots/ventureedge.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .ventureedge {
    background-image: url("/ui/images/screenshots/ventureedge@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .mytimes {
  background-image: url("/ui/images/screenshots/mytimes.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .mytimes {
    background-image: url("/ui/images/screenshots/mytimes@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .portfolio {
  background-image: url("/ui/images/screenshots/portfolio.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .portfolio {
    background-image: url("/ui/images/screenshots/portfolio@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .layouts {
  background-image: url("/ui/images/screenshots/layouts.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .layouts {
    background-image: url("/ui/images/screenshots/layouts@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .toc {
  background-image: url("/ui/images/screenshots/toc.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .toc {
    background-image: url("/ui/images/screenshots/toc@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .hubinfo {
  background-image: url("/ui/images/screenshots/hubinfo.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .hubinfo {
    background-image: url("/ui/images/screenshots/hubinfo@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .routie {
  background-image: url("/ui/images/screenshots/routie.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .routie {
    background-image: url("/ui/images/screenshots/routie@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .resistance {
  background-image: url("/ui/images/screenshots/resistance.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .resistance {
    background-image: url("/ui/images/screenshots/resistance@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .travolta {
  background-image: url("/ui/images/screenshots/travolta.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .travolta {
    background-image: url("/ui/images/screenshots/travolta@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .box {
  -webkit-background-size: 230px 220px;
  -moz-background-size: 230px 220px;
  background-size: 230px 220px;
}
