body > .frame {
  padding: 20px 0;
}
.frame {
  width: 1000px;
  margin: 0 auto;
}
.col3 .col {
  width: 313.3333333333333px;
  margin: 0 10px;
  float: left;
}
.col4 .col {
  width: 230px;
  margin: 0 10px;
  float: left;
}
