.header .box {
  padding: 10px;
  height: 85px;
}
.me {
  position: relative;
  z-index: 10;
}
.me img {
  float: left;
  margin-right: 30px;
}
.me h1 {
  margin: 5px 0;
}
.nav {
  z-index: 1;
  margin: 15px 0;
  padding-left: 250px;
  height: 40px;
  line-height: 40px;
  background-image: linear-gradient(#fff 0%, #f0f0f0 100%);
  border: 1px solid #e2e0e0;
}
.nav li a {
  padding: 11px 30px 10px;
  background: transparent;
  border: 1px solid #f0f0f0;
  border-width: 0 0 0 1px;
  transition: background-color 0.5s;
  position: relative;
}
.nav li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  display: block;
  transition: width 0.7s;
}
.nav li.selected a,
.nav li a:hover {
  background: #fff;
}
.nav li.selected a span,
.nav li a:hover span {
  width: 100%;
}
.nav li.selected a {
  background-image: linear-gradient(#f0f0f0 0%, #fff 100%);
}
