@charset "UTF-8";

@font-face {
  font-family: 'portfolio';
  src: url("../fontello/font/portfolio.eot");
  src: url("../fontello/font/portfolio.eot?#iefix") format('embedded-opentype'), url("../fontello/font/portfolio.woff") format('woff'), url("../fontello/font/portfolio.ttf") format('truetype'), url("../fontello/font/portfolio.svg#portfolio") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'portfolio';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-zize: 120%; */
}

.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cloud-1:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-globe:before { content: '\1d30d'; } /* '\1d30d' */
.icon-user:before { content: '\1f464'; } /* '\1f464' */
.icon-mobile:before { content: '\1f4f1'; } /* '\1f4f1' */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: primary-color;
}
a {
  color: #3ca9dc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 32px;
}
h2 {
  color: secondary-color;
}
body > .frame {
  background: url("../images/tiny_grid.png");
  -webkit-box-shadow: 0 0 20px 5px #000;
  box-shadow: 0 0 20px 5px #000;
  padding: 20px 0 0 0;
  overflow: hidden;
}
.frame {
  width: 1000px;
  margin: 0 auto;
}
.col3 {
  zoom: 1;
}
.col3:before,
.col3:after {
  content: "";
  display: table;
}
.col3:after {
  clear: both;
}
.col3 .col {
  width: 313.3333333333333px;
  margin: 0 10px;
  float: left;
}
.col4 {
  zoom: 1;
}
.col4:before,
.col4:after {
  content: "";
  display: table;
}
.col4:after {
  clear: both;
}
.col4 .col {
  width: 230px;
  margin: 0 10px;
  float: left;
}
.col4 .col2 {
  width: 480px;
  margin: 0 10px;
  float: left;
}
ul.hl {
  zoom: 1;
  list-style: none;
}
ul.hl:before,
ul.hl:after {
  content: "";
  display: table;
}
ul.hl:after {
  clear: both;
}
ul.hl li {
  float: left;
}
.box {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 7px -2px #999;
  box-shadow: 0px 2px 7px -2px #999;
  border: 1px solid #adadad;
  -webkit-transition: all 0.3 ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  -ms-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
}
.box .list {
  padding: 20px 10px;
}
.nav {
  z-index: 1;
  margin: 15px 0;
  padding-left: 250px;
  height: 40px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, #fff 0%, #f0f0f0 100%);
  border: 1px solid #e2e0e0;
}
.nav li a {
  color: #333;
  font-size: 16px;
  padding: 11px 30px 10px 40px;
  background: transparent;
  border: 1px solid #f0f0f0;
  border-width: 0 0 0 1px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  text-decoration: none;
}
.nav li a i {
  font-size: 14px;
  position: absolute;
  left: 18px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.nav li a span {
  position: absolute;
  background-color: #3ca9dc;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  display: block;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  -ms-transition: width 0.7s;
  transition: width 0.7s;
}
.nav li.selected a,
.nav li a:hover {
  background: #fff;
}
.nav li.selected a span,
.nav li a:hover span {
  width: 100%;
}
.nav li.selected a i,
.nav li a:hover i {
  color: #3ca9dc;
}
.nav li.selected a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #fff 100%);
}
.header .box {
  padding: 10px;
  height: 85px;
}
.header .me {
  position: relative;
  z-index: 10;
}
.header .me img {
  float: left;
  margin-right: 30px;
}
.header .me h1 {
  margin: 5px 0;
}
.content .box {
  overflow: hidden;
  position: relative;
  height: 220px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-bottom: 20px;
  text-decoration: none;
}
.content .box .name {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  text-shadow: 1px 1px 2px #000;
}
.content .box .name {
  line-height: 30px;
}
.content .box .name i {
  position: absolute;
  right: 5px;
  font-size: 16px;
}
.content .box .description {
  height: 100%;
  padding: 50px 10px 0px;
  position: relative;
  color: #000;
  top: -100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.content .box .description p {
  margin: 10px 0;
  line-height: 1.5;
}
.content .has-details:hover {
  cursor: pointer;
}
.content .kindspark {
  background-image: url("/ui/images/screenshots/kindspark.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .kindspark {
    background-image: url("/ui/images/screenshots/kindspark@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .kindspark .description {
  background: rgba(205,243,151,0.95);
}
.content .jotbox {
  background-image: url("/ui/images/screenshots/jotbox.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .jotbox {
    background-image: url("/ui/images/screenshots/jotbox@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .jotbox .description {
  background: rgba(255,167,159,0.95);
}
.content .visits {
  background-image: url("/ui/images/screenshots/visits.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .visits {
    background-image: url("/ui/images/screenshots/visits@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .visits .description {
  background: rgba(147,207,236,0.95);
}
.content .n2tec {
  background-image: url("/ui/images/screenshots/n2tec.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .n2tec {
    background-image: url("/ui/images/screenshots/n2tec@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .n2tec .description {
  background: rgba(147,207,236,0.95);
}
.content .ehow {
  background-image: url("/ui/images/screenshots/ehow.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .ehow {
    background-image: url("/ui/images/screenshots/ehow@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .ehow .description {
  background: rgba(205,243,151,0.95);
}
.content .ventureedge {
  background-image: url("/ui/images/screenshots/ventureedge.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .ventureedge {
    background-image: url("/ui/images/screenshots/ventureedge@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .ventureedge .description {
  background: rgba(205,243,151,0.95);
}
.content .mytimes {
  background-image: url("/ui/images/screenshots/mytimes.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .mytimes {
    background-image: url("/ui/images/screenshots/mytimes@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .mytimes .description {
  background: rgba(226,226,224,0.95);
}
.content .portfolio {
  background-image: url("/ui/images/screenshots/portfolio.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .portfolio {
    background-image: url("/ui/images/screenshots/portfolio@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .portfolio .description {
  background: rgba(60,169,220,0.95);
}
.content .layouts {
  background-image: url("/ui/images/screenshots/layouts.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .layouts {
    background-image: url("/ui/images/screenshots/layouts@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .layouts .description {
  background: rgba(171,147,236,0.95);
}
.content .toc {
  background-image: url("/ui/images/screenshots/toc.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .toc {
    background-image: url("/ui/images/screenshots/toc@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .toc .description {
  background: rgba(147,207,236,0.95);
}
.content .hubinfo {
  background-image: url("/ui/images/screenshots/hubinfo.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .hubinfo {
    background-image: url("/ui/images/screenshots/hubinfo@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .hubinfo .description {
  background: rgba(255,240,159,0.95);
}
.content .routie {
  background-image: url("/ui/images/screenshots/routie.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .routie {
    background-image: url("/ui/images/screenshots/routie@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .routie .description {
  background: rgba(255,167,159,0.95);
}
.content .resistance {
  background-image: url("/ui/images/screenshots/resistance.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .resistance {
    background-image: url("/ui/images/screenshots/resistance@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .resistance .description {
  background: rgba(255,240,159,0.95);
}
.content .travolta {
  background-image: url("/ui/images/screenshots/travolta.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content .travolta {
    background-image: url("/ui/images/screenshots/travolta@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.content .travolta .description {
  background: rgba(147,207,236,0.95);
}
.content .box {
  -webkit-background-size: 230px 220px;
  -moz-background-size: 230px 220px;
  background-size: 230px 220px;
}
.services {
  margin: 10px 0;
}
.services li {
  margin: 15px;
  line-height: 20px;
}
.services li i {
  font-size: 20px;
  padding: 2px 5px 0 0;
}
.contacts li {
  text-align: center;
  padding: 10px 5px;
  width: 33%;
}
.contacts i {
  font-size: 48px;
  padding-bottom: 3px;
  display: block;
}
.contacts .icon-linkedin-rect {
  padding-left: 5px;
}
.contacts .icon-mail-1 {
  padding-left: 8px;
}
.contacts a {
  color: #333;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.contacts a:hover {
  color: #3ca9dc;
  text-decoration: none;
}
.updates {
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #c2c2c2;
}
.updates .title {
  font-size: 16px;
  margin-bottom: 6px;
}
.updates .title a {
  color: #333;
}
.updates .date {
  float: right;
  margin: 4px 0 0 0;
  font-size: 11px;
  color: #747474;
}
.updates .name {
  padding-right: 5px;
}
.updates .name::after {
  content: ':';
}
.updates .desc {
  font-size: 12px;
  line-height: 1.5;
}
.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}
.content .box {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.content .anim-out {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.preanim .header .updates {
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -o-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
}
.preanim .content .box {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.preanim .nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.load .header .updates {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.1s;
  -moz-transition: -webkit-transform 0.5s ease 0.1s;
  -o-transition: -webkit-transform 0.5s ease 0.1s;
  -ms-transition: -webkit-transform 0.5s ease 0.1s;
  transition: -webkit-transform 0.5s ease 0.1s;
}
.load .nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease 0.4s;
  -moz-transition: -webkit-transform 0.4s ease 0.4s;
  -o-transition: -webkit-transform 0.4s ease 0.4s;
  -ms-transition: -webkit-transform 0.4s ease 0.4s;
  transition: -webkit-transform 0.4s ease 0.4s;
}
.load .content .box {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.5s ease 0.5s;
  -moz-transition: opacity 0.5s ease 0.5s;
  -o-transition: opacity 0.5s ease 0.5s;
  -ms-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 1);
    -moz-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
  }

  75% {
    -webkit-transform: scale3d(1.08, 1.08, 1);
    -moz-transform: scale3d(1.08, 1.08, 1);
    -o-transform: scale3d(1.08, 1.08, 1);
    -ms-transform: scale3d(1.08, 1.08, 1);
    transform: scale3d(1.08, 1.08, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
