@import '../vars'
.content .box {
  .name {
    background: #000;
  }
  .description {
    background: color-blue;
  }
}
i,
.frame .contacts i {
  display: none !important;
}
.contact .contacts {
  margin: 10px 0;
  li {
    margin: 0px 15px 
    float: none;
    text-align: left;
  }
}
